<web-app>

    <servlet>
        <servlet-name>JsonPostService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonPostService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonPostService</servlet-name>
        <url-pattern>/json/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonCityService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonCityService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonCityService</servlet-name>
        <url-pattern>/json/city</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonSignInService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonSignInService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonSignInService</servlet-name>
        <url-pattern>/json/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOutService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.SignOutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutService</servlet-name>
        <url-pattern>/json/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonInterfaceService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonInterfaceService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonInterfaceService</servlet-name>
        <url-pattern>/json/interface</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonAuthService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonAuthService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonAuthService</servlet-name>
        <url-pattern>/json/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonRoleService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonRoleService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonRoleService</servlet-name>
        <url-pattern>/json/role</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonCheckIdService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.JsonCheckIdService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonCheckIdService</servlet-name>
        <url-pattern>/json/checkid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PutService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.PutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PutService</servlet-name>
        <url-pattern>/json/admin/put</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.DeleteService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/json/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.PostService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostService</servlet-name>
        <url-pattern>/json/admin/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestJsonSignInService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.testtask.JsonSignInService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestJsonSignInService</servlet-name>
        <url-pattern>/test/json/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestSignOutService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.testtask.SignOutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSignOutService</servlet-name>
        <url-pattern>/test/json/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestJsonInterfaceService</servlet-name>
        <servlet-class>ru.apermyakov.servlets.testtask.JsonInterfaceService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestJsonInterfaceService</servlet-name>
        <url-pattern>/test/json/interface</url-pattern>
    </servlet-mapping>

</web-app>